/* change to rgb format*/
/* read on pseudo selectors and variables in css*/

:root{
  --mainBlue:#2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --lightGreen: rgb(166, 226, 46);
  --mainGrey: rgb(207, 207, 206);
}

/* bootstrap has specificity in the body*/
body {
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

/*NAV BAR STYLES*/
ul {
  display: flex;
  flex-flow: row nowrap !important;
  align-items: center;
  justify-content: space-evenly !important;
  padding: 1em;
  -webkit-box-shadow: 0 10px 30px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 10px 30px -12px rgba(0,0,0,0.75);
  box-shadow: 0 10px 30px -12px rgba(0,0,0,0.75);
}

ul li{
  list-style-type: none;
}
ul li i{
  color: lightblue;
  font-size: 1.5em;
}

ul li button {
  background: transparent;
  border: none;
  color: var(--mainGrey);
  padding: 0.2em 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

ul li button:hover{
  background: var(--lightBlue);
  border-radius: 10px;
 }

.search-bar input{
  border: none;
  border-radius: 10px;
  text-align: center;
  background-color: #f3f3f3;
}

.search-bar input:focus{
  background-color: white;
}

.search-bar{
  display: flex;
  flex-flow: row nowrap;
  padding: 0.8em;
}

.search-bar button{
  height: 100%;
}
