/* change to rgb format*/
/* read on pseudo selectors and variables in css*/

:root{
  --mainBlue:#2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --lightGreen: rgb(166, 226, 46);
  --mainGrey: rgb(207, 207, 206);
}

/* bootstrap has specificity in the body*/
body {
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

/*NAV BAR STYLES*/
ul {
  display: flex !important;
  flex-flow: row nowrap !important;
  justify-content: center !important;
}

.search-bar{
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5em;
}

.search-bar button{
  height: 100%;
}